
.Titles2{
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    border-left: 3px solid #1967d2;
  }


  .Titles {
    font-size: 22px;
    font-weight: 500;
    padding-left: 10px;
    border-left: 3px solid #1967d2;
}